{% extends 'base.html' %}

{% block content %}
<main class="Tampilan">
    <div class="container mt-4">
        <div class="row">
        <!-- Input Section -->
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header text-white text-center" style="background-color: #c1496e;">Input Parameter</h5>
                    <div class="card-body">
                        <form method="POST" action="{% url 'index' %}">
                            <h5>Parameter LVQ</h5>
                            <hr>
                            <!-- maximum epoch lvq -->
                            <div class="mb-0">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="epoch_lvq" class="form-label">Maximum Epoch</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control h-75" id="epoch_lvq" name="epoch_lvq" {% if epoch_lvq %} value="{{ epoch_lvq }}" {% endif %} required>
                                    </div>
                                </div>
                            </div>
                            <!-- end maximum epoch -->
                            <!-- Learning Rate -->
                            <div class="mb-0">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="learning_rate" class="form-label">Learning Rate (α)</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control h-75" id="learning_rate" name="learning_rate" {% if learning_rate %} value="{{ learning_rate }}" {% endif %} required>
                                    </div>
                                </div>
                            </div>
                            <!-- end Learning Rate -->

                            <!-- Pengurang (α) -->
                            <div class="mb-0">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="pengurang_lr" class="form-label">Pengurang (α)</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control h-75" id="pengurang_lr" name="pengurang_lr" {% if pengurang_lr %} value="{{ pengurang_lr }}" {% endif %} required>
                                    </div>
                                </div>
                            </div>
                            <!-- end Pengurang (α) -->

                            <!-- Minimum (α) -->
                            <div class="mb-0">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="minimum_lr" class="form-label">Minimum (α)</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control h-75" id="minimum_lr" name="minimum_lr" {% if minimum_lr %} value="{{ minimum_lr }}" {% endif %} required>
                                    </div>
                                </div>
                            </div>
                            <!-- end Minimum (α) -->
                            <hr>
                            <h5>Parameter PSO</h5>
                            <hr>
                            {% csrf_token %}
                            <!-- maximum epoch pso -->
                            <div class="mb-0">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="maxIterasi" class="form-label">Maximum Iterasi</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control h-75" id="maxIterasi" name="maxIterasi" {% if maxIterasi %} value="{{ maxIterasi }}" {% endif %} required>
                                    </div>
                                </div>
                            </div>
                            <!-- end maximum epoch -->

                            <!-- jumlah partikel -->
                            <div class="mb-0">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="partikel" class="form-label">Jumlah Partikel</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control h-75" id="partikel" name="partikel" {% if partikel %} value="{{ partikel }}" {% endif %} required>
                                    </div>
                                </div>
                            </div>
                            <!-- end jumlah partikel -->

                            <!-- koefisien W -->
                            <div class="mb-0">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="koefisien_w" class="form-label">Koefisien W</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control h-75" id="koefisien_w" name="koefisien_w" {% if koefisien_w %} value="{{ koefisien_w }}" {% endif %} required>
                                    </div>
                                </div>
                            </div>
                            <!-- end koefisien w -->

                            <!-- koefisien c1 -->
                            <div class="mb-0">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="koefisien_c1" class="form-label">Koefisien C1</label>
                                    </div>
                                    <div class="col-sm-7" style="display: flex; align-items: center; gap: 20px;">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="koefisien_c1_0.5" name="koefisien_c1" value="0.5" {% if koefisien_c1 == 0.5 %} checked {% endif %}>
                                            <label class="form-check-label" for="koefisien_c1_0.5">0,5</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="koefisien_c1_1.0" name="koefisien_c1" value="1.0" {% if koefisien_c1 == 1.0 %} checked {% endif %}>
                                            <label class="form-check-label" for="koefisien_c1_1.0">1,0</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="koefisien_c1_1.5" name="koefisien_c1" value="1.5" {% if koefisien_c1 == 1.5 %} checked {% endif %}>
                                            <label class="form-check-label" for="koefisien_c1_1.5">1,5</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end koefisien c1 -->
                            
                            <!-- koefisien c2 -->
                            <div class="mb-0">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="koefisien_c2" class="form-label">Koefisien C2</label>
                                    </div>
                                    <div class="col-sm-7" style="display: flex; align-items: center; gap: 20px;">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="koefisien_c2_0.5" name="koefisien_c2" value="0.5" {% if koefisien_c2 == 0.5 %} checked {% endif %}>
                                            <label class="form-check-label" for="koefisien_c2_0.5">0,5</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="koefisien_c2_1.0" name="koefisien_c2" value="1.0" {% if koefisien_c2 == 1.0 %} checked {% endif %}>
                                            <label class="form-check-label" for="koefisien_c2_1.0">1,0</label>
                                        </div><div class="form-check">
                                            <input type="radio" class="form-check-input" id="koefisien_c2_1.5" name="koefisien_c2" value="1.5" {% if koefisien_c2 == 1.5 %} checked {% endif %}>
                                            <label class="form-check-label" for="koefisien_c2_1.5">1,5</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end koefisien c2 -->
                
                            <button class="btn train mt-2 text-white" style="background-color: #c1496e" type="submit">Klasifikasi</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END Input Section -->

            <!-- Result Section -->
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header text-white text-center" style="background-color: #c1496e">Hasil Pengujian</h5>
                    <div class="card-body">
                        <h5>Metode LVQ</h5>
                        <hr>
                        <!-- Tidak Penyakit Stroke -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="not_disease_lvq" class="form-label">Tidak Penyakit Stroke (0)</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="not_disease_lvq" name="not_disease_lvq" {% if not_disease_lvq %} value="{{ not_disease_lvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end Tidak Penyakit Stroke -->
                    
                        <!-- Penyakit Stroke -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="disease_lvq" class="form-label">Penyakit Stroke (1)</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="disease_lvq" name="disease_lvq" {% if disease_lvq %} value="{{ disease_lvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end Penyakit Stroke -->

                        <!-- Accuracy -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="accuracy_lvq" class="form-label">Accuracy</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="accuracy_lvq" name="accuracy_lvq" {% if accuracy_lvq %} value="{{ accuracy_lvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end Accuracy -->

                        <!-- Precision -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="precision_lvq" class="form-label">Precision</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="precision_lvq" name="precision_lvq" {% if precision_lvq %} value="{{ precision_lvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end Precision -->

                        <!-- Recall -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="recall_lvq" class="form-label">Recall</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="recall_lvq" name="recall_lvq" {% if recall_lvq %} value="{{ recall_lvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end Recall -->

                        <!-- F1-Score -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="f1_lvq" class="form-label">F1-Score</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="f1_lvq" name="f1_lvq" {% if f1_lvq %} value="{{ f1_lvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end F1-Score -->
                        <hr>
                        <h5>Metode LVQ+PSO</h5>
                        <hr>
                        <!-- Tidak Penyakit Stroke -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="not_disease_psoLvq" class="form-label">Tidak Penyakit Stroke (0)</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="not_disease_psoLvq" name="not_disease_psoLvq" {% if not_disease_psoLvq %} value="{{ not_disease_psoLvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end Tidak Penyakit Stroke -->
                
                        <!-- Penyakit Stroke -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="disease_psoLvq" class="form-label">Penyakit Stroke (1)</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="disease_psoLvq" name="disease_psoLvq" {% if disease_psoLvq %} value="{{ disease_psoLvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end Penyakit Stroke -->
                
                        <!-- Accuracy -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="accuracy_psoLvq" class="form-label">Accuracy</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="accuracy_psoLvq" name="accuracy_psoLvq" {% if accuracy_psoLvq %} value="{{ accuracy_psoLvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end Accuracy -->
                
                        <!-- Precision -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="precision_psoLvq" class="form-label">Precision</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="precision_psoLvq" name="precision_psoLvq" {% if precision_psoLvq %} value="{{ precision_psoLvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end Precision -->

                        <!-- Recall -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="recall_psoLvq" class="form-label">Recall</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="recall_psoLvq" name="recall_psoLvq" {% if recall_psoLvq %} value="{{ recall_psoLvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end Recall -->

                        <!-- F1-Score -->
                        <div class="mb-0">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="f1_psoLvq" class="form-label">F1-Score</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control h-75" id="f1_psoLvq" name="f1_psoLvq" {% if f1_psoLvq %} value="{{ f1_psoLvq }}" {% endif %}>
                                </div>
                            </div>
                        </div>
                        <!-- end F1-Score -->

                        <!-- Button trigger modal -->
                        <button type="button" class="btn float-end mt-4 text-white" style="background-color: #c1496e" data-bs-toggle="modal" data-bs-target="#exampleModal">Detail Hasil</button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Detail Hasil Klasifikasi</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-striped">
                                            <thead class="text-white" style="background-color: #c1496e">
                                                <tr>
                                                <th scope="col">No.</th>
                                                <th scope="col">Kelas Sebenarnya</th>
                                                <th scope="col">Klasifikasi LVQ</th>
                                                <th scope="col">Klasifikasi LVQ+PSO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for label, class_lvq, class_psoLvq in classification_list %}
                                                <tr>
                                                <th scope="row">{{ forloop.counter }}.</th>
                                                <td>{{ label }}</td>
                                                <td>{{ class_lvq }}</td>
                                                <td>{{ class_psoLvq }}</td>
                                                </tr>
                                                {% endfor %}
                                                <tr class="text-white" style="background-color: #c1496e">
                                                <th colspan="2">Jumlah Klasifikasi Benar</th>
                                                <td>{{ count_lvq }}</td>
                                                <td>{{ count_psoLvq }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn text-white" style="background-color: #c1496e" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end modal -->
                    </div>
                </div>
            </div>
            <!-- END Result Section -->
        </div>
    </div>
</main>

{% endblock %}